TND084_unity_project/.vs
TND084_unity_project/Assets/ModularFirstPersonController/*
TND084_unity_project/Assets/Scenes
TND084_unity_project/Library/*
TND084_unity_project/ProjectSettings/*
TND084_unity_project/Temp/*
TND084_unity_project/obj/*
TND084_unity_project/Logs/*
TND084_unity_project/Packages/*
TND084_unity_project/UserSettings/*

*.meta
.vsconfig
*.csproj
*.sln
*.vsidx
*.mat
*.png
TND084_unity_project/UpgradeLog.htm
